* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #E7DFDD;
}

/* LANDING PAGE MOBILE FIRST */
.landing-page {
    background: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    margin-top: 200px;
}

.hero-text > .initial-text{ 
    font-weight: 600;
    font-size: 1.5rem;
}

.hero-text > .initial-text > span{ 
    color: #23BE53;
    font-size: 1.5rem;
    font-weight: 500;
}

.hero-text > .name-text{ 
    color: #23BE53;
    margin: 40px 0 25px 0;
    font-size: 2rem;
    font-weight: 700;
}

.hero-text > .welcome-text {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23BE53;
    padding: 1rem;
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

/* SOCIAL DIV */

.stacks {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #333333;
    height: 180vh;
}

.social {
    width: 15rem;
    height: 4rem;
    background: black;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    text-align: center;
}

.social > img {
    width: 3rem;
    margin: 0.5rem;
}

/* TITULO */

.title {
    width: 100%;
    font-weight: 700;
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
}

/* CARD SKILLS */
.skills-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-skill {
    background: black;
    border-radius: 1rem;
    width: 12rem;
    height: 18rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: solid #23BE53 2rem;
    box-shadow: 0 15px 2px -2px rgba(0, 0, 0, 0.295);
}

.card-skill > img {
    width: 5rem;
    margin: 3rem 0rem 3rem 0;
}

.text-area {
    width: 100%;
    font-weight: 600;
    justify-content: start;
}

/* PROJECTS */
.projects { 
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #333333;
    height: 100vh;
}