* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #E7DFDD;
    background: #333333;
}

/* LANDING PAGE MOBILE FIRST */
.landing-page {
    background: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.land-hero {
    margin: 0 0 2rem 0;
    position: absolute;
    bottom: 0;
    padding: 0 1rem 0 0 ;
}

.content {
    background-position: center;
    background-size: 25rem;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-nav {
    display: none;
}

.hero-text {
   margin-top: 200px;
}

.hero-text > .initial-text{ 
    font-weight: 600;
    font-size: 1.5rem;
}

.hero-text > .initial-text > span{ 
    color: #23BE53;
    font-size: 1.5rem;
    font-weight: 500;
}

.hero-text > .name-text{ 
    color: #23BE53;
    margin: 40px 0 25px 0;
    font-size: 2rem;
    font-weight: 700;
}

.hero-text > .welcome-text {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23BE53;
    padding: 1rem;
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

/* SOCIAL DIV */

.stacks {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.stacks > .content {
    background-image: url(./assets/vector.png);
    background-repeat: no-repeat;

}

.social {
    width: 15rem;
    height: 4rem;
    background: black;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    text-align: center;
}

.social > img {
    width: 3rem;
    margin: 0.5rem;
}

/* TITULO */

.title {
    width: 100%;
    font-weight: 700;
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
}

/* CARD SKILLS */
.skills-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-skill {

    background: black;
    border-radius: 1rem;
    width: 12rem;
    height: 18rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: solid #23BE53 2rem;
    box-shadow: 0 15px 2px -2px rgba(0, 0, 0, 0.295);
}

#bar-img {
    margin: 0;
    width: 3rem;
}

.card-skill > img {
    width: 5rem;
    margin: 3rem 0rem 3rem 0;
}

.text-area {
    width: 100%;
    font-weight: 600;
    justify-content: start;
}

/* PROJECTS */
.projects { 
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: fit-content;
    overflow: hidden;
}

.projects > .content {
    align-items: center;
   justify-content: center;
   background-image: url(./assets/vector.png);
    background-repeat: no-repeat;
}

.three-points {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
}

.pointsOne, 
.pointsTwo, 
.pointsThree { 
    width: 1.3rem;
    height: 1.3rem;
    background: orange;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.pointsOne {
    background: rgb(245, 161, 0.966);
}

.pointsTwo {
    background: rgba(252, 76, 76, 0.966);
}

.pointsThree {
    background: #23BE53;
}

.projects-card {
    width: 20rem;
    margin: 0;
}

/* CAROUSEL SLIDE */
.carousel-slide {
    display: flex;
   
}
.arrows {
    position: absolute;
    display: flex;
    z-index: 10;
    color: white;
    width: 100%;
    place-content: space-between;
}
#next-btn {
    background-image: url(./assets/seta-direita.png);
    height: 5rem;
    width: 5rem;
    z-index: 10;
    color: white;
}

#prev-btn {
    width: 4rem;
    background-image: url(./assets/seta-esquerda.png);
}

/* ABOUT ME */

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me > .content {
    background-image: url(./assets/vector.png);
    background-repeat: no-repeat;
}

.about-me > .content > .card-skill {
    width: 100%;
    height: fit-content;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    justify-content: start;
    display: flex;
}

.about-me > .content > .card-skill > .hero-text {
    margin-top: 0;
    width: 100%;
}

.about-me > .content > .card-skill > .hero-text > .name-text {
    margin: 0;
    justify-content: start;
    font-size: 1.8rem;
}

.about-me > .content > .card-skill > .welcome-text{
    margin: 2rem 0 2rem 0;
    width: 100%;
}

.skills-text {
    display: flex;
    min-width: 100%;
}

ul {
    padding: 0 0 0 2rem;
    place-self: start;
    font-size: 1rem;
}

li::marker {
    color: #23BE53;
    font-size: 2rem;
}

/* FOOTER SECTION */
footer{
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: #23BE53;;
    height: 4rem;
}

footer > span {
    font-size: 2rem;
    font-weight: 600;
}

footer > .final-footer {
    font-size: 1.2rem;
    font-weight: 600;
}